n8n_multi_agent_workflow.json
{
  "name": "Multi-Agent LinkedIn Post Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "multi-agent-linkedin-post",
        "options": {}
      },
      "id": "d7cf2d11-34d0-41d3-ad45-f7cfc41a0878",
      "name": "Webhook - Topic Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -112,
        -112
      ],
      "webhookId": "multi-agent-linkedin-post-webhook"
    },
    {
      "parameters": {
        "functionCode": "const topic = $json[\"topic\"] || \"The future of AI Agents in Business\";\n\nconst prompt = `You are a professional LinkedIn copywriter.\n\nWrite a short LinkedIn post based on the topic below.\n\nRequirements:\n- maximum 5 sentences\n- no emojis\n- no hashtags\n- avoid generic buzzwords\n- be specific and concrete\n- write in a natural, conversational tone\n\nTopic: \"${topic}\"`;\n\nreturn [{ json: { topic, prompt } }];"
      },
      "id": "cf49eca6-fac6-4c32-ace2-6600503bbd2a",
      "name": "Function - Build Writer Prompt",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        192,
        -112
      ]
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent",
        "jsonParameters": true,
        "options": {}
      },
      "id": "19ed93c9-b771-4001-88d0-02191f967e4c",
      "name": "HTTP - Gemini Writer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        496,
        -112
      ]
    },
    {
      "parameters": {
        "functionCode": "const topic = $item(0).$node[\"Function - Build Writer Prompt\"].json.topic;\n\n// Gemini response structure may vary; this example assumes a candidates[0].content.parts[0].text-like output.\nconst res = $json;\nlet draft = \"\";\n\ntry {\n  const candidates = res.candidates || [];\n  if (candidates.length > 0 && candidates[0].content && candidates[0].content.parts && candidates[0].content.parts[0].text) {\n    draft = candidates[0].content.parts[0].text.trim();\n  }\n} catch (e) {\n  draft = \"[ERROR] Could not parse writer response\";\n}\n\n// Optional token usage placeholder\nconst usage = res.usageMetadata || {};\n\nreturn [{ json: { topic, draft, writerUsage: usage } }];"
      },
      "id": "211168e4-bdcd-490e-8c4d-e0e7063b69ba",
      "name": "Function - Extract Writer Draft",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        800,
        -112
      ]
    },
    {
      "parameters": {
        "functionCode": "const topic = $json[\"topic\"];\nconst draft = $json[\"draft\"];\n\nconst prompt = `You are a strict editor. You hate generic buzzwords.\n\nYou will receive a LinkedIn post draft.\nYour tasks:\n1) Briefly critique the draft (maximum 3 sentences).\n2) Rewrite it to be sharper, more concrete, and more impactful.\n\nRESPONSE FORMAT (IMPORTANT):\n- Respond ONLY in valid JSON.\n- No additional text, no markdown, no explanations.\n- Use exactly these keys: \"critique\" and \"final_post\".\n\nExample:\n{\n  \"critique\": \"The draft is too vague and uses generic language...\",\n  \"final_post\": \"Here is the revised, punchier version...\"\n}\n\nDRAFT:\n\"\"\"${draft}\"\"\"`;\n\nreturn [{ json: { topic, draft, prompt, writerUsage: $json.writerUsage } }];"
      },
      "id": "49332bba-0d42-48be-9eff-56efb2b33df0",
      "name": "Function - Build Editor Prompt",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1088,
        -112
      ]
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent",
        "jsonParameters": true,
        "options": {}
      },
      "id": "80c4dfa1-fc51-4a08-8be5-775af5180d33",
      "name": "HTTP - Gemini Editor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1392,
        -112
      ]
    },
    {
      "parameters": {
        "functionCode": "const topic = $item(0).$node[\"Function - Build Editor Prompt\"].json.topic;\nconst draft = $item(0).$node[\"Function - Build Editor Prompt\"].json.draft;\nconst writerUsage = $item(0).$node[\"Function - Build Editor Prompt\"].json.writerUsage || {};\n\nconst res = $json;\nlet rawText = \"\";\n\ntry {\n  const candidates = res.candidates || [];\n  if (candidates.length > 0 && candidates[0].content && candidates[0].content.parts && candidates[0].content.parts[0].text) {\n    rawText = candidates[0].content.parts[0].text.trim();\n  }\n} catch (e) {\n  rawText = \"[ERROR] Could not parse editor response\";\n}\n\n// Clean markdown fences\nlet cleaned = rawText.trim();\nif (cleaned.startsWith(\"```\")) {\n  const firstNewline = cleaned.indexOf(\"\\n\");\n  if (firstNewline !== -1) cleaned = cleaned.slice(firstNewline + 1);\n  if (cleaned.endsWith(\"```\")) cleaned = cleaned.slice(0, -3);\n}\n\nlet critique = \"\";\nlet finalPost = draft;\n\ntry {\n  const parsed = JSON.parse(cleaned);\n  critique = (parsed.critique || \"\").trim();\n  finalPost = (parsed.final_post || draft).trim();\n} catch (e) {\n  critique = `Failed to parse JSON from editor. Raw: ${cleaned}`;\n}\n\nconst editorUsage = res.usageMetadata || {};\n\nreturn [{\n  json: {\n    topic,\n    draft,\n    final_post: finalPost,\n    critique,\n    writerUsage,\n    editorUsage,\n    rawEditorOutput: rawText\n  }\n}];"
      },
      "id": "859e63fb-a4b5-49c7-99fc-923f49d37578",
      "name": "Function - Parse Editor JSON",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1696,
        -112
      ]
    },
    {
      "parameters": {
        "functionCode": "const TOKEN_PRICE = parseFloat($env.TOKEN_PRICE || \"0.000002\");\n\nconst writerUsage = $json.writerUsage || {};\nconst editorUsage = $json.editorUsage || {};\n\nconst writerTokens = writerUsage.totalTokenCount || writerUsage.total_tokens || 0;\nconst editorTokens = editorUsage.totalTokenCount || editorUsage.total_tokens || 0;\n\nconst totalTokens = Number(writerTokens) + Number(editorTokens);\nconst cost = totalTokens * TOKEN_PRICE;\n\nreturn [{\n  json: {\n    topic: $json.topic,\n    draft: $json.draft,\n    final_post: $json.final_post,\n    critique: $json.critique,\n    totalTokens,\n    cost\n  }\n}];"
      },
      "id": "dba6a2ca-7c13-4e19-8fba-c6489fb93837",
      "name": "Function - Tokens & Cost",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2000,
        -112
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1GJCz5exxiVOM1hCwOSJ-O-lL35k1yOUfA4jo40wPdgY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Posts",
          "mode": "name"
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Timestamp",
              "fieldValue": "={{$json.timestamp}}"
            },
            {
              "fieldId": "Topic",
              "fieldValue": "={{$json.topic}}"
            },
            {
              "fieldId": "Draft (Writer)",
              "fieldValue": "={{$json.writerDraft}}"
            },
            {
              "fieldId": "Final Post (Editor)",
              "fieldValue": "={{$json.finalPost}}"
            },
            {
              "fieldId": "Total Tokens",
              "fieldValue": "={{$json.totalTokens}}"
            },
            {
              "fieldId": "Cost",
              "fieldValue": "={{$json.cost}}"
            }
          ]
        },
        "options": {}
      },
      "id": "379add55-13b3-4c0a-8e87-2fed3ade3d9c",
      "name": "Google Sheets - Append Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        2288,
        -112
      ],
      "credentials": {
        "googleApi": {
          "id": "D8shoEE5oppYqdrp",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Topic Trigger": {
      "main": [
        [
          {
            "node": "Function - Build Writer Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Build Writer Prompt": {
      "main": [
        [
          {
            "node": "HTTP - Gemini Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Gemini Writer": {
      "main": [
        [
          {
            "node": "Function - Extract Writer Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Extract Writer Draft": {
      "main": [
        [
          {
            "node": "Function - Build Editor Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Build Editor Prompt": {
      "main": [
        [
          {
            "node": "HTTP - Gemini Editor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Gemini Editor": {
      "main": [
        [
          {
            "node": "Function - Parse Editor JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Parse Editor JSON": {
      "main": [
        [
          {
            "node": "Function - Tokens & Cost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Tokens & Cost": {
      "main": [
        [
          {
            "node": "Google Sheets - Append Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "88509e54-f4ef-49cc-a657-65f82d52c71c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b7fe7a08be045ab891c44405d92121634711663ce0be46d4908fc6f3655bf1fc"
  },
  "id": "BSWhDaOCvUoWOIqk",
  "tags": []
}